.App {
  text-align: center;
}
.home {
  width: 50;
  font-family: "Helvetica Neue", "Arial", sans-serif;
  font-style: italic;
  font-weight: 100;
  font-size: 1rem;
  letter-spacing: 2px;
  color: grey;
  word-wrap: normal;
}
.home p {
  margin: 2%;
  text-align: left;
}


body {
	background: grey;
	margin:15px 0 0 0;
	font-size:12px;
}

.img-wrapper {
  width: 270px;
  height: 270px;
  margin: 8px;
}

.img-wrapper img {
  width: 250px;
  height: auto;
}
body{
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQnfTr55tHLV4kxDrXP0PcLOioqHoSsiNH_wXSJhEfjivEeBr7-xjgS9yu8MmBoxm1tiG8&usqp=CAU');
  background-repeat: no-repeat;
  background-size:cover;
}

.details {
    display: grid;
    grid-template-columns:auto;
    grid-template-rows:100px, 200px;
    grid-gap: 1rem;
}
.neighborhooddetails {
  display: grid;
  grid:0%;
  grid-auto-flow: inherit;
  grid-gap: 15px;
  align-self:center

}



.about{
  text-align: left;
  font-size:large;
  padding:0 10px 0 20px;

}
.about ul li {
  margin:15px;

}

button:hover {
  color: #0f0e0f;
  border: #00ffee solid 1px;
  background: #99fcff;
  }

  nav {
    height: 48px;
}

nav ul {
    margin-left: auto;
    margin-right: auto;
}

nav li {
    display: inline-block;
    height: 100%;
    width: 10%;
}

nav li a {
    font-family: cursive;
    color: #666a7e;
    font-size: 25px;
    text-decoration:solid
}
nav li a:hover {
    color: #0804e4;
}


.fluff {
  background-color: #bbc4c7;
  color: #0f0e0f;
margin: 2%;
border-radius: 25px;
padding: 25px;
}
.pet-details img{
  margin: 2%;
  border-radius: 25px;
  

}
.pet-details button{
  margin-left: 15px;
}

.pets-content section{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;

}

.pets-content{
  display: flex;
  flex-direction: column;
}

.AddPet .row{
  display: flex;
  flex-direction: row;
  width: 75%;
}

.AddPet .row label{
  width: 25%;
  margin: 15px;
}

.AddPet .row input, .AddPet .row select{
  width: 75%;
  margin: 15px;
}

.pet-card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5px;
  padding: 10px;
  border: 1px black solid;
  border-radius: 25px;
  background-color: beige;
}


.pet-card .img-wrapper{
max-height: 75%;
width: 100%;

}


