.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
	background: grey;
	margin:15px 0 0 0;
	font-size:12px;
}

.img-wrapper {
  width: 10px;
  height: 10px;
}

.card {
  background-image: url('https://thumbs.dreamstime.com/b/cartoon-cute-valentines-day-sweet-white-cat-dog-hearts-vector-cartoon-cute-valentines-day-cat-dog-hearts-vector-168110022.jpg');

  width: 400px;
  margin: 0 auto;
  font-family: "Helvetica Neue", "Arial", sans-serif;
  font-style: italic;
  font-weight: 100;
  font-size: 1rem;
  letter-spacing: 2px;
  color: grey
}
body{
  background-image: url('https://thumbs.dreamstime.com/b/cartoon-cute-valentines-day-sweet-white-cat-dog-hearts-vector-cartoon-cute-valentines-day-cat-dog-hearts-vector-168110022.jpg');

}

.details {
    display: grid;
    grid-template-columns:auto;
    grid-template-rows:100px, 200px;
    grid-gap: 1rem;
}
.grid {
  display: grid;
  grid:0%;
  grid-auto-flow: inherit;
  grid-gap: 15px;
  align-self:center

}
.info-wrapper {
  flex-wrap: wrap;
}
col {
  box-sizing:content-box
}

.pets-content{
  display: grid;
  grid: 100%;
  grid-auto-flow:column;
  grid-gap: 15px;
  align-self:center
}

.about{
  text-align: left;
  text-shadow: #61dafb;
  font-size:x-large;
  padding-left: 20px;
  justify-content: space-between;
}