.App {
  text-align: center;
}
.home {
  width: 50;
  font-family: "Helvetica Neue", "Arial", sans-serif;
  font-style: italic;
  font-weight: 100;
  font-size: 1rem;
  letter-spacing: 2px;
  word-wrap: normal;
}
.home p {
  margin: 2%;
  text-align: left;
}
.img-wrapper {
  width: 270px;
  height: 270px;
  margin: 8px;
}

.img-wrapper img {
  width: 250px;
  height: auto;
}

.details {
    display: grid;
    grid-template-columns:auto;
    grid-template-rows:100px, 200px;
    grid-gap: 1rem;
}
.neighborhooddetails {
  display: grid;
  grid:0%;
  grid-auto-flow: inherit;
  grid-gap: 15px;
  align-self:center

}

.neighborhoods-content{
  
  background-image: url('https://img.freepik.com/premium-vector/cute-cat-dog-flat-design-illustration_723554-122.jpg?w=2000');
  background-repeat: no-repeat;
  background-size:cover;
  text-align: left;
}

.about{
  text-align: left;
  font-size:large;
  padding:0 10px 0 20px;

}
.about ul li {
  margin:15px;

}

button:hover {
  color: #0f0e0f;
  border: #00ffee solid 1px;
  background: #99fcff;
  }

  nav {
    height: 48px;
    background-color: #9f9fa4;
  
}

nav ul {
    margin-left: auto;
    margin-right: auto;
}

nav li {
    display: inline-block;
    height: 100%;
    width: 10%;
}

nav li a {
    font-family: cursive;
    color: #666a7e;
    font-size: 20px;
    text-decoration:solid
}
nav li a:hover {
    color: #0804e4;
}


.fluff {
  background-color: #bbc4c7;
  color: #0f0e0f;
margin: 2%;
border-radius: 25px;
padding: 25px;
}
.pet-details img{
  margin: 2%;
  border-radius: 25px;
  

}
.pet-details button{
  margin-left: 15px;
}

.pets-content section{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.pets-content{
  display: flex;
  flex-direction: column;
  background-image: url('https://media.istockphoto.com/id/1316064480/vector/cute-cat-dog-face-head-set-funny-baby-sad-kitty-puppy-kawaii-animal-white-silhouette-cute.jpg?s=170667a&w=0&k=20&c=S0-brxCWsaAQLLyHuMwYVzj-C87daeEG6kPNKeDpAmg=');
  background-repeat: no-repeat;
  background-size:cover
}

.AddPet .row{
  display: flex;
  flex-direction: row;
  width: 75%;
}

.AddPet .row label{
  width: 25%;
  margin: 15px;
}

.AddPet .row input, .AddPet .row select{
  width: 75%;
  margin: 15px;
}

.pet-card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5px;
  padding: 10px;
  border: 1px black solid;
  border-radius: 25px;
  background-color: beige;
}


.pet-card .img-wrapper{
max-height: 75%;
width: 100%;

}


.flex-col{

  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS2bb8gpEFMMVmEJgxdMD1L_B5o3qFLWnFq8A&usqp=CAU');
  background-repeat: no-repeat;
  background-size:contain;

}